.Container-Feedback {
  background-image: url(../assests/Wall-Ligten.jpg);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container-Feedback .display {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 1rem;
}

.Container-Feedback .display .box {
  /* border: 2px solid #000000; */
  border-radius: 7px;
  padding: 1.5rem 0.3rem;
  /* background: rgb(0, 10, 247, 0.1); */
}
.Container-Feedback .display .box h1 {
  background: linear-gradient(to bottom, #f7f7f7 100%, #1b1b1b 0%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  direction: ltr;
  padding: 0px 10px;
  box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 1),
    0px -4px 48px 0px rgba(0, 0, 0, 1);
}
.Container-Feedback .display p {
  font-family: "IRANSans";
  color: #f7f7f7;
}

.Container-Feedback .display .text-box {
  width: 80%;
  padding: 0.8rem 0.4rem;
  border: none;
  border-radius: 3px;
  font-family: "IRANSans";
}
.Container-Feedback .display .submit-feedback {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  font-family: "IRANSans";
  background: linear-gradient(to bottom, #f7f7f7 100%, #1b1b1b 0%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 1),
    0px -4px 48px 0px rgba(0, 0, 0, 1);
  margin-top: 1rem;
}
