.h1 {
  background: linear-gradient(to right, #000000 100%, #1b1b1b 0%) !important;
  background-clip: border-box !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: "Yekan";
}

@font-face {
  font-family: "IRANSans";
  src: local("Fonts"), url("../Fonts/IRANSans.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Yekan";
  src: local("Fonts"), url("../Fonts/Yekan.ttf") format("truetype");
  font-weight: 600;
}

.container-rows {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 11rem;
  margin-top: 3vh;
  position: relative;
  z-index: 10;
}

.rows {
  margin-right: 8vw;
  position: relative;
  margin-left: 2rem;
  font-family: "IRANSans";
}

.rows::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 2px;
  bottom: 50%;
  left: -13rem;
  margin: 0px 1rem;
  background-color: var(--black);
  border-radius: 10px;
  opacity: 0.3;
}

/* .rows::after {
  content: "";
  position: absolute;
  width: 180%;
  height: 2px;
  bottom: 50%;
  left: -12rem;
  margin: 0px 1rem;
  background-color: var(--black);
  border-radius: 10px;
  opacity: 0.3;
} */

.name-product {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.price-product {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  font-family: "IRANSans";
}
/* hhhhhhh */
.slideshow-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slideshow-images {
  position: relative;
  width: 100%;
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide-in {
  animation: slideIn 1.5s forwards;
}

.slide-out {
  animation: slideOut 1.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.Back-img {
  width: 100vw;
  height: 30vh;
  display: block;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
  rotate: 180deg;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
