.container-rows {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 11rem;
  margin-top: 3vh;
  position: relative;
  z-index: 10;
}

.rows {
  margin-right: 8vw;
  position: relative;
  margin-left: 2rem;
}

.rows::after {
  content: "";
  position: absolute;
  width: 160%;
  height: 2px;
  bottom: 50%;
  left: -12rem;
  margin: 0px 1rem;
  background-color: var(--black);
  border-radius: 10px;
  opacity: 0.3;
}

/* .rows::after {
  content: "";
  position: absolute;
  width: 180%;
  height: 2px;
  bottom: 50%;
  left: -12rem;
  margin: 0px 1rem;
  background-color: var(--black);
  border-radius: 10px;
  opacity: 0.3;
} */

.name-product {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.price-product {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Back-img {
  width: 100vw;
  height: 30vh;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
